.wrapper {
    display: inline-flex;
    align-items: center;
    border-radius: var(--radii);
    background-color: var(--colors-ui-base);
    box-shadow: var(--shadow);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.cardImage {
    display: block;
    width: 120px;
    height: 60px;
    object-fit: cover;
    transition: 0.4s;
}

.wrapper:hover img {
    width: 110px;
}

.gray img {
    filter: grayscale(100%);
}

.crossout {
    position: absolute;
    top: 30px;
    left: -20px;
    width: 140px;
    height: 8px;
    background-color: var(--colors-crossover);
    transform: rotate(-30deg);
}
